{
  "host": "127.0.0.1",
  "port": {{ rabbitmq_amqp_port }},
  "user": "{{ rabbitmq_user }}",
  "vhost": "{{ rabbitmq_vhost }}",
  "amqp_url": "amqp://{{ rabbitmq_user }}:{{ _rabbitmq_password }}@127.0.0.1:{{ rabbitmq_amqp_port }}{{ rabbitmq_vhost }}"
}
