[Unit]
Description=TurboPanel RabbitMQ
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker network create {{ turbopanel_docker_network }}
ExecStart={{ turbopanel_config_dir }}/rabbitmq/wrapper-start.sh
ExecStop=/usr/bin/docker stop -t 10 {{ rabbitmq_container_name }}

[Install]
WantedBy=multi-user.target
