[Unit]
Description=TurboPanel RabbitMQ
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker start {{ rabbitmq_container_name }}
ExecStop=/usr/bin/docker stop -t 10 {{ rabbitmq_container_name }}

[Install]
WantedBy=multi-user.target
