[Unit]
Description=TurboPanel daemon
After=network-online.target{% if turbopanel_after_instance_service | bool %} turbopanel-instance.service{% endif %}

Wants=network-online.target{% if turbopanel_after_instance_service | bool %} turbopanel-instance.service{% endif %}

[Service]
Type=simple
User={{ turbopanel_user }}
Group={{ turbopanel_group }}
WorkingDirectory={{ turbopanel_daemon_dir }}
Environment=TURBOPANEL_SERVICE_NAME={{ turbopanel_service_name }}
ExecStartPre={{ turbopanel_daemon_dir }}/scripts/ensure-single-daemon.sh
ExecStart=/usr/bin/flock -n /run/turbopanel/daemon.lock {{ turbopanel_runtimes_dir }}/deno/current/deno run --allow-net --allow-sys=networkInterfaces,hostname --allow-read --allow-write --allow-run --allow-env --env-file=.env main.ts
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/turbopanel/daemon/daemon.log
StandardError=append:/var/log/turbopanel/daemon/daemon.err.log

[Install]
WantedBy=multi-user.target
