# Managed by instance-launch (Workers runtime). Gitignored by instance checkout.
TURBOPANEL_SECRET={{ turbopanel_wrangler_secret }}
TURBOPANEL_IS_SIGNUP_ENABLED=1
TURBOPANEL_UI_CORS_ORIGINS={{ website_cors_origins }}
