[Unit]
Description=TurboPanel mailer
After=turbopanel-instance.service turbopanel-rabbitmq.service
Requires=turbopanel-rabbitmq.service

[Service]
Type=simple
User={{ instance_user }}
Group={{ turbopanel_group }}
WorkingDirectory={{ turbopanel_instance_dir }}
Environment=HOME={{ turbopanel_instance_runtime_dir }}
{% if turbopanel_amqp_url is defined %}
Environment=TURBOPANEL_AMQP_URL={{ turbopanel_amqp_url }}
{% endif %}
{% if turbopanel_pg_password is defined %}
Environment=TURBOPANEL_DATABASE_URL=postgresql://{{ postgres_user }}:{{ turbopanel_pg_password }}@/{{ postgres_db }}?host={{ postgres_socket_dir }}
{% endif %}
Environment=TURBOPANEL_MAILER_RATE_LIMIT_PER_MINUTE=60
ExecStart={{ turbopanel_runtimes_dir }}/deno/current/deno run \
  --allow-env \
  --allow-net=127.0.0.1:{{ rabbitmq_amqp_port }},127.0.0.1:{{ drizzle_studio_port | default(4983) }} \
  --allow-read={{ turbopanel_instance_dir }},{{ turbopanel_instance_runtime_dir }}{% if turbopanel_pg_password is defined %},{{ postgres_socket_dir }}{% endif %} \
  mailer/main.ts
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
