[Unit]
Description=TurboPanel Redis
After=network.target

[Service]
Type=simple
User={{ redis_user }}
Group={{ redis_primary_group }}
ExecStart={{ turbopanel_runtimes_dir }}/redis/current/bin/redis-server {{ turbopanel_config_dir }}/redis/redis.conf
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
