TURBOPANEL_INSTANCE_URL={{ turbopanel_instance_url }}
TURBOPANEL_TRUNK_BRANCH={{ turbopanel_branch }}
{% if turbopanel_instance_ca | length > 0 %}
TURBOPANEL_INSTANCE_CA={{ turbopanel_instance_ca }}
{% endif %}
{% if turbopanel_tls_insecure | bool %}
TURBOPANEL_TLS_INSECURE=1
{% endif %}
